body {
    color: white;
}

.navbar-logo {
    margin-left: 10vh;
}

.navbar-main {
    padding: 20px;
    background-color: rgb(23, 23, 49);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    background-color: rgb(220, 96, 87);
    color: white;
}

.navbar-navegation {
    gap: 20px;
    margin: auto 0;
}

.navbar-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    margin-right: 10vh;
    padding: 0;
}

.navbar-link {
    transition: transform 0.2s ease-in-out;
}

.navbar-logo-strong {
    color: rgb(220, 96, 87);
}

.navbar-link:hover {
    background-color: rgb(220, 96, 87);
    transform: scale(1.15)
}